.projects {
  position: relative;
  z-index: 10;

  padding: 0 20%;
  padding-top: 8rem;

  @media screen and (max-width: 1280px) {
    padding-left: 15%;
    padding-right: 15%;
  }

  @media screen and (max-width: 960px) {
    padding-left: 5%;
    padding-right: 5%;
  }

  @media screen and (max-width: 960px) {
    padding-left: 12%;
    padding-right: 12%;
  }

  &__title {
    position: relative;

    text-align: center;

    &::after {
      content: "";

      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);

      width: 4rem;
      height: 0.25rem;

      background-color: #fd3a69;
    }
  }

  &__content {
    padding-bottom: 10rem;
  }

  &__item {
    display: flex;

    margin-top: 6rem;

    width: 100%;

    border-radius: 1rem;

    box-shadow: 0px 4px 80px rgba(black, 0.2);

    @media screen and (max-width: 640px) {
      flex-direction: column-reverse;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;

    width: 45%;

    padding: 2rem 3rem;
    border-radius: 1rem 0 0 1rem;

    background-color: white;

    @media screen and (max-width: 640px) {
      width: 100%;

      border-radius: 0 0 1rem 1rem;
    }
  }

  &__date {
    opacity: 0.6;

    margin-top: 1rem;
  }

  &__technologies {
    opacity: 0.7;

    margin-top: 0.5rem;

    font-weight: 600;
  }

  &__item:nth-of-type(1) &__image-wrapper {
    background-image: linear-gradient(to right, #b95be4, #8389e4);
  }
  &__item:nth-of-type(2) &__image-wrapper {
    background-image: linear-gradient(to right, #9d0191, #fd3a69);
  }
  &__item:nth-of-type(3) &__image-wrapper {
    background-image: linear-gradient(to left, #2cd6b7, #9edd99);
  }

  &__image {
    width: 90%;

    &-wrapper {
      display: flex;
      align-items: center;
      justify-content: center;

      padding: 2rem 0;

      width: 55%;

      border-radius: 0 1rem 1rem 0;

      @media screen and (max-width: 640px) {
        width: 100%;

        border-radius: 1rem 1rem 0 0;
      }
    }
  }

  &__button {
    margin-top: auto;
    margin-bottom: 1rem;

    @media screen and (max-width: 640px) {
      margin-top: 2rem;
      margin-bottom: 0;
    }
  }
}
