.projects-history {
  width: 90%;

  margin: 0 auto;

  &__content {
    display: flex;
    flex-wrap: wrap;

    margin-bottom: 16rem;
  }

  &__item {
    margin-top: 2rem;

    width: max(300px, 32%);

    color: black;
    box-shadow: 0 4px 24px rgba(black, 0.2);
    border-radius: 1rem;

    &:not(&:nth-last-child(1)) {
      margin-right: 2%;
    }
  }

  &__item:hover &__image {
    transform: scale(1.25);
  }

  &__info {
    padding: 2.5rem 2rem;

    background-color: white;
    border-radius: 0 0 1rem 1rem;
  }

  &__name {
    margin-bottom: 0.5rem;
  }

  &__date {
    opacity: 0.6;

    margin-bottom: 0.25rem;
  }

  &__technologies {
    overflow: 0.8;
  }

  &__image {
    width: 90%;

    transition: all 0.3s;

    &-wrapper {
      display: flex;
      align-items: center;
      justify-content: center;

      overflow: hidden;

      width: 100%;
      padding: 2rem 0;

      background-color: #d1cece;
      border-radius: 1rem 1rem 0 0;
    }
  }
}
