.heading {
  font-family: "Arvo", serif;

  font-size: 4rem;
  line-height: 1.4em;

  @media screen and (max-width: 640px) {
    font-size: 3.5rem;
  }

  &--small {
    font-size: 2.75rem;

    @media screen and (max-width: 960px) {
      font-size: 2.25rem;
    }
  }

  &--tiny {
    font-size: 2rem;
  }
}
